<link href="~/Content/Styles/General.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/Generated/jquery-3.3.1.min.js"></script>
<script src="../../Scripts/Generated/jquery.validate.min.js"></script>
<script src="../../Scripts/Generated/jquery.validate.unobtrusive.min.js"></script>
<script src="../../Scripts/IndexScripts/RoutesDropdown.js" type="text/javascript"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div id="dropDown">
        <select id="routes"></select>
    </div>
    <div id="showInfo"></div>
    
    
    <p id="travelText">When do you want to travel?</p>

    <div id="datetimeContainer">
        <input id="datePicker" type="date" name="travelDay">
        <input id="timePicker" type="time" name="travelTime">
        <button class="centerElement" id="confirmBtn">Confirm</button>
    </div>
    
    <div id="buttonContainer">
        <button class="leftEdgeElement" id="travelNowBtn">I want to travel now</button>
    </div>
}


