@model Vy_TicketPurchase_Core.ViewModels.AdminModel

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>title</title>
</head>
<body>

@foreach (var station in Model.Stations)
{
    <div class="ticket">
        <div>
            <label>ID: </label>
            @Html.DisplayFor(model => station.Id)
            <br/>
            <label>Stasjons navn: </label>
            @Html.DisplayFor(model => station.StationName)
            <br/>
            
            <button class="btn btn-primary">
                @Html.ActionLink("Edit Station", "EditStation","Admin", new { id = station.Id})
            </button>
        </div>
    </div>
    
    <br/>
}

</body>
</html>