/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbarImage {
    width: 100%;
    max-width: 15em;
    height: auto;
}

.bodyMargin {
    padding-top: 8em;
}

.navbarElement {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.ticket {
    width: 100%;
    max-width: 20em;
    height: auto;
    padding: 20px;
    background-color: rgba(220,220,220,.5)
}

.error {
    color: red;
}

.img-row {
    display: flex;
    padding-top: 3em;
}

.img-900-600 {
    display: flex;
    flex: calc(900/600);
    padding: 5px;
}

.img-1488-992 {
    display: flex;
    flex: calc(1488/992);
    padding: 5px;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.sticky-bottom-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer.page-footer a {
    color: #9D9794;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer.page-footer a:hover {
    color: #FBFBF4;
}

.modal-content {
    padding-right: 1em;
    padding-top: 1em;
}
