@model Vy_TicketPurchase_Core.Models.ViewModels.IndexModel

@{
    ViewBag.Title = "Index Testing";
    Layout = "_Layout";
}

<h1>This is the testing area for the IndexModel! For Science.</h1>

@foreach (var station in Model.Stations)
{
    <p>
        @station.TrainLine.Name 
        @station.StationName #@station.NumberOnLine
    </p>
                         
}
