@model Vy_TicketPurchase_Core.Business.Tickets.Models.ServiceModelTicket
@{
    ViewData["Title"] = "selectTrip";
    Layout = "_Layout";
}
<h2>Velg reise: </h2>

<!--Få opp liste med DBdepartures, oppdatere tidspunkt i servicemodelticket, så sende servicemodelticketen videre til billettvisning-->