@model List<Vy_TicketPurchase_Core.Repository.DBModels.DbDepartures>
@{
    ViewData["Title"] = "selectTrip";
    Layout = "_Layout";
}
<h2>Velg reise: </h2>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departureTime)
                </td>
            </tr>
        }
    </tbody>
</table>