@model Vy_TicketPurchase_Core.Models.ViewModels.IndexModel

@{
    ViewBag.Title = "Testing";
    Layout = "_Layout";
}

<!DOCTYPE html>

<h1>This is the testing area! For Science.</h1>

@foreach (var route in Model.Stations)
{
}
