<!-- NB! DO NOT ACTUALLY USE BUSINESS MODELS HERE! USE VIEW MODELS! This is for science -->
@model List<Vy_TicketPurchase_Core.Services.Routes.Models.ServiceModelRoute> 

@{
    ViewBag.Title = "Testing";
}

<!DOCTYPE html>

<h1>This is the testing area! For Science.</h1>

@foreach (var route in Model)
{
    <p>
        @route.StartLocation
        @route.StopLocation
        @route.Price
        @route.TravelTimeMinutes
    </p>
}