@model Vy_TicketPurchase_Core.Models.ViewModels.IndexModel

@{
    ViewBag.Title = "Testing";
    Layout = "_Layout";
    var count = 0;
}

<!DOCTYPE html>

<h1>This is the testing area! For Science.</h1>

@foreach (var station in Model.Stations)
{
    count++;
    @station.StationName <br/>
}
    @count
