<script src="../../Scripts/Generated/jquery-3.3.1.min.js"></script>
<script src="../../Scripts/Generated/jquery.validate.min.js"></script>
<script src="../../Scripts/Generated/jquery.validate.unobtrusive.min.js"></script>
<script src="../../Scripts/IndexScripts/RoutesDropdown.js" type="text/javascript"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div id="dropDown">
        <select id="routes">
        </select>
    </div>
}


